* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.nav_css {
  background-color: #300b58;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  font-family: "Roboto";
}

.nav_links_css {
  font-size: 16px;
  line-height: 1.2;
  text-align: left;
  font-family: "Roboto";
}

.bot_icon_img {
  height: 35px;
}

.nav-item > a {
  color: rgb(203, 227, 251) !important;
}

.nav-item > a:active {
  color: #4efafb !important;
}

#welcome {
  background-image: url("./Assets/top.png");
  background-repeat: repeat-x;

  /* height:40%; */
}

/* Top */

.welcome_buddyBot .header_text {
  font-size: 70px;
  color: rgb(79, 255, 255);
  line-height: 1.2;
  text-align: left;
}

.welcome_buddyBot .description_text {
  font-size: 20px;
  color: rgb(203, 227, 251);
  line-height: 1.2;
  text-align: left;
}

.welcome_buddyBot .custom_btn {
  background-color: #4fffff;
  color: #36065c;
  width: 145px;
  border-radius: 50px;
  font-weight: 700;
}

.footer_css {
  background-color: black;
}

/* why */

.why_buddyBot,
.importance {
  background-color: #cbe3fb;
}

.why_buddyBot .header_text,
.importance .header_text {
  font-size: 70px;
  color: #36065c;
  line-height: 1.2;
  text-align: left;
}

.why_buddyBot .description_text,
.importance .description_text {
  font-size: 20px;
  color: rgb(58, 58, 58);
  line-height: 1.333;
  text-align: left;
}

.why_buddyBot .custom_btn,
.importance .custom_btn {
  background-color: #36065c;
  color: #cbe3fb;
  width: 145px;
  border-radius: 50px;
  font-weight: 700;
}

.group_img {
  position: relative;
}

.shape_img {
  position: absolute;
  left: 134px;
  top: 23px;
}

.margin_top_fix {
  margin-top: -20%;
}

/* isolation */

.isolation {
  background-color: #c2dbf3;
}

.isolation .header_text {
  font-size: 70px;
  color: #36065c;
  line-height: 1.2;
  text-align: left;
}

.isolation .description_text,
.bullying .description_text {
  font-size: 20px;
  color: rgb(58, 58, 58);
  line-height: 1.333;
  text-align: left;
}

.isolation .custom_btn,
.bullying .custom_btn {
  background-color: #36065c;
  color: #cbe3fb;
  width: 145px;
  border-radius: 50px;
  font-weight: 700;
}

/* bullying */

.custom_div {
  width: 95%;
  background-color: #cbe3fb;
}

.bullying {
  background-color: #c2dbf3;
  overflow: hidden;
}

.bullying .header_text {
  font-size: 70px;
  color: #2c2c2c;
  line-height: 1.2;
  text-align: left;
}

.importance_group_img {
  position: relative;
}

/* About */

.about_div{
  background-color: #525252;
  color: #fff;
}

.about_div div{
  display: flex;
}

.about_div div div ul{
  list-style: none;
}

.links_contents{
  display: flex;
  flex-direction: column;
}

.links_contents h4{
  margin-bottom: 30px;
}

.links_contents ul{
  padding-left: 0px !important;
}

.links_contents p{
  margin-bottom: 0;
}


.about_div div div ul li a{
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.about_div div div ul li a i{
  margin-right: 5px;
}

.text-BuddyBot {
  font-size: 25px;
  font-family: "Anita  Semi-square";
  color: rgb(203, 227, 251);
  line-height: 1.2;
}


.profile{
  display: flex;
  flex-direction: column;
}

.profile div{
  width: 15%;
}

.profile div img{
  margin-left: 30px;
  height: 72px;
}

.profile_links a i{
  margin: 5px;
  color: #fff;
  font-size: 25px;
}

.message_box{
  position: fixed;
  bottom: 30px;
  right: 10px;
}

.message_box .img-fluid{
  width: 100px !important;
}