@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Anita  Semi-square Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Anita  Semi-square Normal'), url('Anita semi square.woff') format('woff');
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.nav_css {
  background-color: #300b58;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  /* font-family: "Roboto"; */
}

.nav_links_css {
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  /* font-family: "Roboto"; */
}

.nav_links_css li{
  margin-right: 10px;
}

.bot_icon_img {
  height: 35px;
}

/* .nav-item > a {
  color: rgb(203, 227, 251) !important;
} */

/* .nav-item > a:hover {
  color: #4efafb !important;
  border: 5px solid black;
} */

.link_border{
  width: 10px;
  height: 10px;
  background-color: #4fffff;
}

.nav-link.active {
  color: #4fffff !important;
  border-bottom: 2px solid #4fffff !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#welcome {
  background-image: url("../../Assets/top.png");
  background-repeat: repeat-x;

  /* height:40%; */
}

/* Top */

.welcome_buddyBot .header_text {
  font-size: 70px;
  color: rgb(79, 255, 255);
  line-height: 1.2;
  text-align: left;
}

.welcome_buddyBot .description_text {
  margin-top: 50px;
  font-size: 25px;
  color: rgb(203, 227, 251);
  line-height: 1.2;
  text-align: left;
}

.welcome_buddyBot .custom_btn {
  margin-top: 20px;
  background-color: rgb(79, 255, 255);
  color: #36065c;
  width: 145px;
  border-radius: 50px;
  font-weight: 700;
}


.footer_css {
  background-color: black;
}

.footer_css .container p{
  margin-bottom: 0;
}

/* why */

.why_buddyBot,
.importance {
  background-color: #cbe3fb;
}

.why_buddyBot .header_text,
.importance .header_text {
  margin-top: 295px !important;
  font-size: 70px;
  color: #36065c;
  line-height: 1.2;
  text-align: left;
}

.why_buddyBot .description_text,
.importance .description_text {
  margin-top: 50px;
  font-size: 25px;
  color: rgb(58, 58, 58);
  line-height: 1.333;
  text-align: left;
}

.why_buddyBot .custom_btn,
.importance .custom_btn {
  margin-top: 20px;
  background-color: #36065c;
  color: #cbe3fb;
  width: 145px;
  border-radius: 50px;
  font-weight: 700;
}

.group_img {
  position: relative;
}

.shape_img {
  position: absolute;
  left: 104px;
  top: 23px;
  width: 71%;
}

.margin_top_fix {
  margin-top: -20%;
}


.why_buddyBot .img-fluid{
  max-width: 85% !important;
}

.why_buddyBot .shape_img{
  width: 60% !important;
}

/* isolation */

.isolation {
  background-color: #c2dbf3;
}

.isolation .header_text {
  margin-top: 270px;
  font-size: 70px;
  color: #36065c;
  line-height: 1.2;
  text-align: left;
}

.isolation .description_text,
.bullying .description_text {
  margin-top: 50px;
  font-size: 25px;
  color: rgb(58, 58, 58);
  line-height: 1.333;
  text-align: left;
}

.isolation .custom_btn,
.bullying .custom_btn {
  margin-top: 20px;
  background-color: #36065c;
  color: #cbe3fb;
  width: 145px;
  border-radius: 50px;
  font-weight: 700;
}

.isolation .img-fluid, .bullying .img-fluid{
  width: 80%;
}

/* bullying */

.custom_div {
  width: 95%;
  background-color: #cbe3fb;
}

.bullying {
  background-color: #c2dbf3;
  overflow: hidden;
}

.bullying .header_text {
  margin-top: 270px;
  font-size: 70px;
  color: #2c2c2c;
  line-height: 1.2;
  text-align: left;
}

.importance_group_img {
  position: relative;
  margin-top: -50px;

}

.importance_group_img .img-fluid{
  max-width: 80% !important;
}

.importance_group_img .shape_img{
  left: 36px !important;
}

/* About */

.about_div{
  background-color: #525252;
  color: #fff;
}

.about_div div{
  display: flex;
}

.about_div div div ul{
  list-style: none;
}

.links_contents{
  display: flex;
  flex-direction: column;
}

.links_contents h4{
  margin-bottom: 30px;
}

.links_contents ul{
  padding-left: 0px !important;
}

.links_contents p{
  margin-bottom: 0;
}


.about_div div div ul li a{
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.about_div div div ul li a i{
  margin-right: 5px;
}

.text-BuddyBot {
  font-size: 25px;
  font-family: "Anita  Semi-square";
  color: rgb(203, 227, 251);
  line-height: 1.2;
}


.profile{
  display: flex;
  flex-direction: column;
}

.profile div{
  width: 15%;
}

.profile div img{
  margin-left: 30px;
  /* height: 72px; */
}

.profile_links a i{
  margin: 5px;
  color: #fff;
  font-size: 25px;
}

.message_box{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.message_box .img-fluid{
  width: 90px !important;
}


/* Media Query */

@media screen and (max-width: 425px) { 
  .small_screen_style{
    display: flex !important;
    flex-direction: column-reverse;
  }
  .nav-link.active {
    color: #4fffff !important;
    border-bottom: 0 !important;
  }

  .p-5{
    padding: 1rem !important;
  }

  .header_text{
    font-size: 45px !important;
    margin-top: 20px;
  }

  .description_text{
    font-size: 20px !important;
    margin-top: 20px;
  }

  .why_buddyBot .shape_img{
    top: 10px;
    left: 60px;
  }

  .why_buddyBot .header_text, .isolation .header_text, .bullying .header_text, .importance .header_text{
    margin-top: 120px !important;
  }

  .message_box{
    position: fixed;
    bottom: 5px;
    right: 5px;
  }
  
  .message_box .img-fluid{
    width: 50px !important;
  }

  .about_section_small{
    display: flex;
    flex-direction: column;
  }

  .about_section_small .profile{
    width: 100%;
  }

  .profile img{
    height: 45px !important;
  }
}